<!--Tela inicial do projeto-->
<nav>
  <div class="logo-loja">
    <img src="../assets/icon-loja.png" id="logo" alt="Cavalo - peça de xadrez">
    <p>Lojinha</p>
  </div>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/carrinho">Carrinho</a></li>
    <li><a routerLink="/produtos">Produtos</a></li>
    <!--
    <li><a routerLink="/usuarios">Usuários</a></li>
    -->
  </ul>
</nav>

<div class="pg-principal">
  <div style="display: flex;">
    <div class="usuarios">
      <app-usuario (userSelected)="onUserSelected($event)"></app-usuario>
    </div>
    <div style="flex: 1; padding: 20px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>